<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiwilss.xview">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.kiwilss.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kiwilss.xview.ui.view.constraint.ConstraintActivity"
            android:label="约束布局"
            android:screenOrientation="nosensor"/>
        <activity android:name=".ui.view.flexbox.FlexBoxBasicActivity"/>
        <activity android:name=".ui.optimization.viewstub.ViewStubActivity"/>
        <activity android:name=".ui.glide.glidej.GlideJActivity"/>

        <activity android:name=".ui.view.textview.TextViewActivity"/>
        <activity android:name=".ui.copy.MTActivity"/>

        <activity android:name=".ui.banner.BannerActivity"/>

        <activity android:name=".ui.view.recyclerview.RecyclerViewActivity"/>
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerItemFixedActivity"/>
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerViewWrapActivity"/>
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerWrapActivity"/>
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerDecorationLinearActivity"/>
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerIntervalActivity"/>
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerGideActivity"/>

        <activity android:name=".ui.view.mddialog.MdDialogActivity"/>
        <activity android:name=".ui.view.popup.PopupActivity"/>
        <activity android:name=".ui.view.viewpager.ViewPageActivity"/>


    </application>

</manifest>