<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kiwilss.xview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.kiwilss.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".design.drawer.NormalDrawerActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.constraint.ConstraintActivity"
            android:label="约束布局"
            android:screenOrientation="nosensor" />
        <activity android:name=".ui.view.flexbox.FlexBoxBasicActivity" />
        <activity android:name=".ui.optimization.viewstub.ViewStubActivity" />
        <activity android:name=".ui.glide.glidej.GlideJActivity" />
        <activity android:name=".ui.view.textview.TextViewActivity" />
        <activity android:name=".ui.copy.MTActivity" />
        <activity android:name=".ui.banner.BannerActivity" />
        <activity android:name=".ui.view.recyclerview.RecyclerViewActivity" />
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerItemFixedActivity" />
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerViewWrapActivity" />
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerWrapActivity" />
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerDecorationLinearActivity" />
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerIntervalActivity" />
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerGideActivity" />
        <activity android:name=".ui.view.mddialog.MdDialogActivity" />
        <activity android:name=".ui.view.popup.PopupActivity" />
        <activity android:name=".ui.view.viewpager.vp2.ViewPageActivity" />
        <activity android:name=".ui.view.shaw.ShawActivity" />
        <activity android:name=".ui.view.shawshape.ShawShapeActivity" />
        <activity android:name=".ui.view.dialog.DialogActivity" />
        <activity android:name=".design.DesignActivity" />
        <activity android:name=".design.toolbar.ToolbarActivity" />
        <activity android:name=".design.toolbar.ToolbarScrollActivity" />
        <activity android:name=".design.collapsing.CollapsingOneActivity" />
        <activity android:name=".design.refresh.RefreshActivity" />
        <activity android:name=".design.refresh.Refresh2Activity" />
        <activity android:name=".design.behavioractivity.TopScaleActivity" />
        <activity android:name=".design.behavioractivity.TopBackActivity" />
        <activity android:name=".design.behavioractivity.TopBackRefreshActivity" />
        <activity android:name=".design.collapsing.CollaspingTwoActivity" />
        <activity android:name=".design.imitate.JianSuActivity" />
        <activity android:name=".design.imitate.MeiTuanHomeActivity" />
        <activity android:name=".design.imitate.PictureActivity" />
        <activity android:name=".design.toolbar.ToolbarTabVpActivity" />
        <activity
            android:name=".design.toolbar.CollaspingTabActivity"
            android:theme="@style/AppThemeBlue" />
        <activity android:name=".design.imitate.XiTuActivity" />
        <activity android:name=".ui.startforresulthelp.HelpActivity" />
        <activity android:name=".ui.startforresulthelp.HelpResultActivity" />
        <activity android:name=".ui.view.mddialog.FBaiDuMapActivity" />
        <activity android:name=".design.collapsing.CollaspingCenterActivity" />
        <activity android:name=".design.behavioractivity.HeaderScrollActivity" />
        <activity android:name=".design.behavioractivity.Header2Activity" />

        <activity android:name=".design.drawer.DrawerBottomActivity"/>
        <activity android:name=".design.drawer.DrawerTranspateActivity"/>

        <activity android:name=".ui.supertext.SuperTextActivity"/>
        <activity android:name=".ui.shape.ShapeViewActivity"/>

        <activity android:name=".ui.startforresulthelp.DebugActivity"/>
        <activity android:name=".ui.ripple.RippleActivity"/>

        <activity android:name=".ui.loading.LoadingActivity" android:label="loading测试"/>
        <activity android:name=".ui.loading.LoadingTitleActivity"/>
        <activity android:name=".ui.loading.LoadingToolbarActivity" android:label="测试控制标题栏"/>

        <activity android:name=".ui.anim.AnimActivity" android:label="动画"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".ui.anim.fragment.AnimFragmentActivity" android:label="帧动画"/>
        <activity android:name=".ui.anim.viewanim.AnimViewActivity" android:label="View动画"/>
        <activity android:name=".ui.anim.activity.AnimCutInActivity" android:label="Activity转场动画"/>
<!--      android:theme="@style/AppThemeAnim"      />-->
        <activity android:name=".ui.anim.activity.AnimCutOutActivity" android:label="Activity 转场动画退出"
          />

<!--    <activity android:name=".ui.view.viewpager.vp.VpTestActivity" android:label="Viewpager"/>-->

        <activity android:name=".ui.view.scrollview.ScrollViewActivity" android:label="ScrollView"/>
    <activity android:name=".ui.view.viewpager.vp.VpTestActivity" android:label="Viewpager无限滑动(最大值)"/>
    <activity android:name=".ui.view.viewpager.vp.VpTestTwoActivity" android:label="Viewpager无限滑动(前后各加一个)"/>
        <activity android:name=".ui.view.scrollview.scroll.ScrollTitleActivity" android:label="控制标题显示隐藏"/>
        <activity android:name=".ui.view.scrollview.scroll.ScrollStickActivity" android:label="吸顶效果两个View实现"/>



    </application>

</manifest>