<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kiwilss.xview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.kiwilss.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity
            android:name=".design.drawer.NormalDrawerActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.kiwilss.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity android:name=".main.MainActivity"/>
        <activity
            android:name=".ui.view.constraint.ConstraintActivity"
            android:label="约束布局"
            android:screenOrientation="nosensor" />
        <activity android:name=".ui.view.flexbox.FlexBoxBasicActivity" />
        <activity android:name=".ui.optimization.viewstub.ViewStubActivity" />
        <activity android:name=".ui.glide.glidej.GlideJActivity" />
        <activity android:name=".ui.view.textview.TextViewActivity" />
        <activity android:name=".ui.copy.MTActivity" />
        <activity android:name=".ui.banner.BannerActivity" />
        <activity android:name=".ui.view.recyclerview.RecyclerViewActivity" />
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerItemFixedActivity" />
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerViewWrapActivity" />
        <activity android:name=".ui.view.recyclerview.fixed.RecyclerWrapActivity" />
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerDecorationLinearActivity" />
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerIntervalActivity" />
        <activity android:name=".ui.view.recyclerview.decoration_activity.RecyclerGideActivity" />
        <activity android:name=".ui.view.mddialog.MdDialogActivity" />
        <activity android:name=".ui.view.popup.PopupActivity" />
        <activity android:name=".ui.view.viewpager.vp2.ViewPageActivity" />
        <activity android:name=".ui.view.shaw.ShawActivity" />
        <activity android:name=".ui.view.shawshape.ShawShapeActivity" />
        <activity android:name=".ui.view.dialog.DialogActivity" />
        <activity android:name=".design.DesignActivity" />
        <activity android:name=".design.toolbar.ToolbarActivity" />
        <activity android:name=".design.toolbar.ToolbarScrollActivity" />
        <activity android:name=".design.collapsing.CollapsingOneActivity" />
        <activity android:name=".design.refresh.RefreshActivity" />
        <activity android:name=".design.refresh.Refresh2Activity" />
        <activity android:name=".design.behavioractivity.TopScaleActivity" />
        <activity android:name=".design.behavioractivity.TopBackActivity" />
        <activity android:name=".design.behavioractivity.TopBackRefreshActivity" />
        <activity android:name=".design.collapsing.CollaspingTwoActivity" />
        <activity android:name=".design.imitate.JianSuActivity" />
        <activity android:name=".design.imitate.MeiTuanHomeActivity"  android:label="TextView设置标签"/>
        <activity android:name=".design.imitate.PictureActivity" />
        <activity android:name=".design.toolbar.ToolbarTabVpActivity" />
        <activity
            android:name=".design.toolbar.CollaspingTabActivity"
            android:theme="@style/AppThemeBlue" />
        <activity android:name=".design.imitate.XiTuActivity" />
        <activity android:name=".ui.startforresulthelp.HelpActivity" />
        <activity android:name=".ui.startforresulthelp.HelpResultActivity" />
        <activity android:name=".ui.view.mddialog.FBaiDuMapActivity" />
        <activity android:name=".design.collapsing.CollaspingCenterActivity" />
        <activity android:name=".design.behavioractivity.HeaderScrollActivity" />
        <activity android:name=".design.behavioractivity.Header2Activity" />

        <activity android:name=".design.drawer.DrawerBottomActivity" />
        <activity android:name=".design.drawer.DrawerTranspateActivity" />

        <activity android:name=".ui.supertext.SuperTextActivity" />
        <activity android:name=".ui.shape.ShapeViewActivity" />

        <activity android:name=".ui.startforresulthelp.DebugActivity" android:label="Debug" />
        <activity android:name=".ui.ripple.RippleActivity" />

        <activity
            android:name=".ui.loading.LoadingActivity"
            android:label="loading测试" />
        <activity android:name=".ui.loading.LoadingTitleActivity" />
        <activity
            android:name=".ui.loading.LoadingToolbarActivity"
            android:label="测试控制标题栏" />

        <activity
            android:name=".ui.anim.AnimActivity"
            android:label="动画"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.anim.fragment.AnimFragmentActivity"
            android:label="帧动画" />
        <activity
            android:name=".ui.anim.viewanim.AnimViewActivity"
            android:label="View动画" />
        <activity
            android:name=".ui.anim.activity.AnimCutInActivity"
            android:label="Activity转场动画" />
        <!--      android:theme="@style/AppThemeAnim"      />-->
        <activity
            android:name=".ui.anim.activity.AnimCutOutActivity"
            android:label="Activity 转场动画退出" />
        <activity android:name=".ui.anim.property.PropertyActivity" android:label="属性动画"/>
        <!--    <activity android:name=".ui.view.viewpager.vp.VpTestActivity" android:label="Viewpager"/>-->

        <activity
            android:name=".ui.view.scrollview.ScrollViewActivity"
            android:label="ScrollView" />
        <activity
            android:name=".ui.view.viewpager.vp.VpTestActivity"
            android:label="Viewpager无限滑动(最大值)" />
        <activity
            android:name=".ui.view.viewpager.vp.VpTestTwoActivity"
            android:label="Viewpager无限滑动(前后各加一个)" />
        <activity
            android:name=".ui.view.scrollview.scroll.ScrollTitleActivity"
            android:label="控制标题显示隐藏" />
        <activity
            android:name=".ui.view.scrollview.scroll.ScrollStickActivity"
            android:label="吸顶效果两个View实现" />
        <activity
            android:name=".ui.view.scrollview.scroll.ScrollStickActivity2"
            android:label="吸顶效果add-remove实现" />
        <activity
            android:name=".ui.view.scrollview.scroll.NestScrollStickActivity"
            android:label="吸顶MD实现" />
        <activity
            android:name=".ui.view.scrollview.scroll.ScrollStickActivity3"
            android:label="自定义View实现吸顶" />

        <activity android:name=".ui.view.scrollview.scroll.ZoomScrollActivity" android:label="下拉放大图片"/>
        <activity android:name=".ui.view.scrollview.scroll.ZoomScrollActivity2" android:label="下拉放大图片"/>
        <activity android:name=".design.behavioractivity.HeaderZoomActivity" android:label="下拉放大"/>

        <activity android:name=".ui.indexbar.IndexBarActivity" android:label="IndexBar"/>

        <activity android:name=".ui.view.recyclerview.basequick.QucikHeaderFooterActivity" android:label="加头加尾空布局"/>
        <activity android:name=".ui.view.recyclerview.basequick.SectionQuickActivity" android:label="分组布局"/>
        <activity android:name=".ui.view.recyclerview.basequick.mutil.MuiltQuickActivity" android:label="多布局"/>
        <activity android:name=".ui.view.recyclerview.basequick.drag.DragDeleteActivity" android:label="拖拽和侧滑删除"/>

        <activity android:name=".ui.view.recyclerview.stick.test.StickTestActivity" android:label="吸顶效果"/>
        <activity android:name=".ui.view.recyclerview.stick.two.StickyTwoActivity" android:label="吸顶效果"/>
        <activity android:name=".ui.view.recyclerview.flow.FlowActivity" android:label="流式布局测试"/>
        <activity android:name=".ui.view.recyclerview.stick.two.StickyTwoGridActivity" android:label="吸顶网格"/>
        <activity android:name=".ui.view.recyclerview.stick.two.StickyTwoCustomActivity" android:label="吸顶自定义顶部"/>

        <activity android:name=".ui.indexbar.IndexBarAllActivity" android:label="indexbar all"/>
        <activity android:name=".ui.util.UtilsActivity" android:label="工具类"/>
        <activity android:name=".ui.view.recyclerview.stick.two.StickyTwoCustomGridActivity" android:label="自定义悬浮"/>
        <activity android:name=".ui.view.recyclerview.stick.two.AddressBookActivity" android:label="自定义通讯录"/>

        <activity android:name=".ui.imitation.JingDongSearchActivity" android:label="仿京东搜索"/>
        <activity android:name=".design.toolbar.SearchTabActivity" android:label="搜索缩放"/>

        <activity android:name=".ui.keyboard.KeyboardActivity" android:label="键盘相关"
           />

        <activity android:name=".ui.view.recyclerview.itemdecration.ItemDerationActivity"
            android:label="间隔和分割线"/>

        <activity android:name=".ui.watermark.WatermarkActivity" android:label="水印"/>
        <activity android:name=".ui.view.edittext.EditTextActivity" android:label="EditText"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".ui.view.recyclerview.swapadpter.SwapAdapterActivity" android:label="切换界面"/>

        <activity android:name=".ui.anim.layout.LayoutActivity" android:label="布局动画"/>
        <activity android:name=".ui.shortcuts.ShortcutsActivity" android:label="快捷菜单"/>

        <activity android:name=".ui.anim.transition.TransitionActivity" android:label="过渡动画"/>
        <activity android:name=".ui.view.recyclerview.loadmore.LoadMoreActivity" android:label="下拉刷新,上拉加载更多"/>

        <activity android:name=".ui.anim.transition.explode.ExplodeAActivity" android:label="ExploadeA"/>
        <activity android:name=".ui.anim.transition.explode.ExplodeBActivity" android:label="ExploadeB"/>
        <activity android:name=".ui.anim.motionlayout.MotionLayoutActivity" android:label="MotionLayout"/>
        <activity android:name=".ui.anim.motionlayout.MotionActivity" android:label="Motion"/>

        <activity android:name=".ui.anim.transition.one.TransitionOneActivity" android:label="Activity跳转"/>
        <activity android:name=".ui.anim.transition.one.TransitionTwoActivity" android:label="Activity接收"/>

        <activity android:name=".ui.anim.transition.two.TwoTransitionListActivity" android:label="库列表"/>
        <activity android:name=".ui.anim.transition.two.transition.TransitionActivity1" android:label="Transitions"/>

        <activity android:name=".ui.anim.transition.two.transition.TransitionActivity2" android:label="Explode"/>
        <activity android:name=".ui.anim.transition.two.transition.TransitionActivity3" android:label="Slide"/>

        <activity android:name=".ui.anim.transition.two.shared.ShareElementActivity" android:label="ShareElementActivity"/>
        <activity android:name=".ui.anim.transition.two.shared.ShareElementFgActivity" android:label="ShareElementFg"/>
        <activity android:name=".ui.anim.motionlayout.ScrollViewMotionActivity" android:label="ScrollViewMotionLayout"/>
        <activity android:name=".ui.anim.transition.test.TransitionDemoActivity" android:label="demo单一元素"/>
        <activity android:name=".ui.anim.transition.test.TransitionDemoDetailActivity" android:label="元素详情页"/>
        <activity android:name=".ui.anim.transition.test.TransitionDemoListActivity" android:label="demo列表"/>

        <activity android:name=".ui.captcha.CaptchaActivity" android:label="行为式验证"/>
        <activity android:name=".ui.captcha.puzzle.PuzzleActivity" android:label="滑块拼图"/>
        <activity android:name=".ui.captcha.swipe.SwipePuzzleActivity" android:label="滑块拼图"/>

        <activity android:name=".ui.click.ClickAllActivity" android:label="点击限制"/>

        <activity android:name=".ui.picker.PickerAllActivity" android:label="选择器相关"/>

        <activity android:name=".ui.view.edittext.emoji.EmojiEdittextActiity" android:label="表情键盘切换"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible"/>

    </application>

</manifest>